doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/style.css')
    body
        nav
            ul
                li: a(href='/') Home
                li: a(href='/services') Our Services
                li: a(href='/contact') Contact Us
            h1 Our Services
            p Here are the services we offer.
